.App {
  background-image: url("./Assets/spaceBackground.jpg");
  background-position: center;
  height: 100vh;
  background-size: 100% 100%;
}

.ship-logo-container {
  animation: ship-logo-animate infinite 2s linear;
  position: relative;
  transform: rotate(90deg);
  height: 100px;
  width: 100px;
  pointer-events: none;
}

.App-header {
  background-size: auto 100%;
  display: flex;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

.title {
  color: white;
}

@keyframes ship-logo-animate {
  0% {
    left: 0px;
  }
  35% {
    left: 200px;
    transform: rotate(90deg);
  }
  50% {
    left: 200px;
    transform: rotate(270deg);
  }
  85% {
    left: 0px;
    transform: rotate(270deg);
  }

  100% {
    left: 0px;
    transform: rotate(450deg);
  }
}
